body {
}

div {
  border: 2px solid #d6001c;
  border-radius: 10px;
}

#div-bakgrund {
  background-image: url(images/snow_winter_trees.jpg);
  background-size: cover;
}

#länkar {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#länkar img {
  height: 55px;
  border: 2px solid black;
  padding: 5px;
}

h1 {
  text-align: center;
  margin: 75px;
}
